{% extends 'base.html' %}
{% block title%}Topic{% endblock%}
{% block content %}
<div class="container">
  <div class="main-body">
  
       
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
           
            <li class="breadcrumb-item active" aria-current="page">Topic</li>
          </ol>
        </nav>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
            </div>
          </div>
        <form method="post" >
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <input type="submit"  class="replay btn btn-sm btn-outline-success" value="Submit!">
        </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}