
{% extends 'base.html' %}
{%block title%}{{board.name}} {%endblock%}
{% block breadcrumb %}

   <li><a href="/">Boards</a></li>
        <li>{{category.name}}</li>
{%endblock%}


{% block content %}
<a href="{% url 'new_topic' category.pk %}" class="btn btn-primary">New topic</a>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Topic</th>
        <th>Created by</th>
        <th>Posts</th>
        <th>Views</th>
        <th>Created date</th>
    </tr>
    </thead>
    <tbody>
    {%for topic in topics%}
    <tr>
        <td><a href="{%url 'topic' category.pk  topic.pk%}">{{ topic.subject}}</a></td>
        <td>{{ topic.created_by.username}}</td>
        <td>{{topic.comments}}</td>
        <td>0</td>
        <td>{{ topic.created_dt}}</td>

    </tr>
    {%endfor%}

    </tbody>
</table>
{% endblock %}